<ion-split-pane contentId="main-content">
  <!-- MENÚ LATERAL -->
  <ion-menu contentId="main-content" side="start" type="overlay" class="sidebar">
    <ion-header class="sidebar-header">
      <div class="logo-container">
        <img src="assets/imagenes/logo_loginYavirac.png" alt="Logo" class="logo" />
      </div>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/layout/home" routerDirection="root">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Administrador</ion-label>
          </ion-item>
          <ion-item routerLink="/layout/usuarios" routerDirection="root">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Usuarios</ion-label>
          </ion-item>
          <ion-item routerLink="/layout/horarios" routerDirection="root">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>Horarios</ion-label>
          </ion-item>
          <ion-item routerLink="/layout/roles" routerDirection="root">
            <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
            <ion-label>Roles</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="main-container" id="main-content">
    <!-- HEADER SUPERIOR GLOBAL -->
    <ion-header class="layout-header">
      <ion-toolbar color="primary">
        <ion-title>Sistema de Asistencia</ion-title>

        <ion-buttons slot="end" class="usuario-header">
          <ion-icon name="person-circle-outline" class="icono-usuario"></ion-icon>
          <div class="info-usuario">
            <div class="nombre">{{ nombreUsuario }}</div>
            <div class="rol">{{ rolUsuario }}</div>
          </div>
          <ion-button fill="clear" class="btn-cerrar" (click)="logout()">
            Cerrar Sesion
          </ion-button>
        </ion-buttons>
      </ion-toolbar>


    </ion-header>



    <!-- ÁREA DONDE SE CARGAN LAS VISTAS -->
    <div class="content-wrapper">
      <ion-router-outlet></ion-router-outlet>
    </div>
  </div>
</ion-split-pane>

<!-- Botón hamburguesa en móvil -->
<ion-menu-button autoHide="false" class="menu-button"></ion-menu-button>
