/* === MENÚ LATERAL (ion-menu) === */
.sidebar {
  width: 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  overflow-x: hidden !important;
}

.sidebar-header,
.sidebar ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  width: 200px !important;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

ion-menu ion-content,
ion-list {
  --background: #005baa !important;
  background-color: #005baa !important;
  padding: 0 !important;
  margin: 0 !important;
  color: white !important;
}

ion-item {
  --background: transparent !important;
  --color: white !important;
  --inner-border-width: 0px !important;
  border: none !important;
  font-size: 15px;
  margin: 4px 10px;
  border-radius: 6px;
}

ion-icon[slot="start"] {
  color: white !important;
  margin-right: 6px;
  font-size: 20px;
}

.menu-button {
  position: fixed;
  top: 14px;
  left: 14px;
  z-index: 999;
  background-color: #84bae8;
  color: white;
  padding: 8px;
  border-radius: 8px;
  display: none;
}

@media (max-width: 767px) {
  .menu-button {
    display: block;
  }
}

/* === HEADER SUPERIOR === */
ion-toolbar {
  --min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-title {
  font-size: 22px;
  font-weight: bold;

  flex: 1;
  margin: 0 auto;
  color: white;
}

/* === USUARIO HEADER === */
.usuario-header {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  margin-left: auto;
  margin-right: 10px;
}

.icono-usuario {
  font-size: 32px;
  border-radius: 50%;
  background-color: #003c8f;
  padding: 6px;
  color: white;
}

.info-usuario {
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 1.1;
  font-size: 13px;
}

.nombre {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.rol {
  font-size: 12px;
  opacity: 0.9;
  color: white;
}

.btn-cerrar {
  font-size: 10px;
  color: white !important;
  --padding-start: 0;
  --padding-end: 0;
  margin-left: 23px;
}

/* === CONTENIDO === */
ion-split-pane {
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-router-outlet {
  flex-grow: 1;
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Asegura que no se corte el contenido */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::ng-deep ion-router-outlet > * ion-content {
  padding-top: 20px !important;
  margin-top: 16px !important;
}

.menu-activo {
  background: #1976d2 !important;
  color: #fff !important;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0003;
}

.menu-activo ion-icon[slot="start"] {
  color: #fff !important;
}
