<ion-content [fullscreen]="true" class="login-background">
  <div class="login-wrapper">
    <div class="login-container">
      <img src="assets/imagenes/logo_loginYavirac.png" alt="Logo" class="logo" />

      <h2 class="titulo">Inicio de Sesión</h2>

      <form (submit)="login()">
        <ion-item class="input-item">
          <img src="assets/imagenes/user.png" alt="Usuario" slot="start" style="width: 24px; height: 24px;" />
          <ion-input type="text" placeholder="Usuario" [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <img src="assets/imagenes/block.png" alt="Contraseña" slot="start" style="width: 24px; height: 24px;" />
          <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" class="login-button" type="submit">
          Iniciar Sesión
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
