.swal2-toast-center {
  width: 100px !important;
  border-radius: 12px !important;
  font-size: 18px !important;
  box-shadow: 0 2px 16px rgba(0,0,0,0.15) !important;
  padding: 1.1em 1em !important;
}
.swal2-no-backdrop {
  background: transparent !important;
  box-shadow: none !important;
} 
